<h1>Employee Profile</h1>


<h3>Name: <%= @employee.full_name  %></h3><br>
<h3>Alias: <%= @employee.alias  %>    </h3><br>
<h3>Title: <%= @employee.title  %>  </h3><br>
<h3>Office: <%= @employee.office  %>  </h3><br>
<h3>Dog: <%= @employee.dog.name %>  </h3><br>